@charset "utf-8";
/* リセット */
html,
body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
}
footer {
    background: #fff;
}
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", "Yu Mincho", "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", "serif";
    font-feature-settings: "palt";
}
.body {
    background: #444;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.header_container_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.header_container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 3.12%;
    padding-right: 6.45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.header_container h1 {
    width: 226px;
}
.header_nav ul {
    display: flex;
}
.header_nav li {
    width: 104px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "sans-serif";
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #fff;
}
.slick-dots {
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-next {
    display: none;
}
.slick-next {
    display: none !important;
}
/* スライダー */
.slider1 img {
    width: 100%;
}
.sp_nav {
    display: none;
}
/* スマホボタンを隠す */
.sp_menu_btn {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    box-sizing: border-box;
    padding: 0 10px;
}
.main {
    background: #e8d9bf;
}

/* corporate massage */
.main_message {
    text-align: center;
}
.message h2 {
    font-size: 30px;
    padding-top: 106px;
}
.message h3 {
    padding-top: 62px;
    font-size: 82px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1.2;
}
.message p {
    padding-top: 44px;
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 0;
}
.br_sp {
    display: none;
}
/* About us */
.about_us {
    display: flex;
    padding-top: 100px;
    align-items: flex-start;
}
.content_photo img {
    border-radius: 0 0 84px 0;
    padding-top: 18px;
}
.content {
    box-sizing: border-box;
    padding-left: 9.4%;
    width: 50%;
    padding-top: 56px;
}
.content img {
    width: 272px;
}
.content h2 {
    padding-top: 56px;
    font-size: 44px;
    line-height: 1.38;
    font-weight: lighter;
}
.content p {
    font-size: 16px;
    line-height: 1.6;
    padding-top: 32px;
    text-align: justify;
}
.about_us_sp {
    display: none;
}
/* メニューコンテンツ */
.menu-logo p {
    width: 152px;
    margin: 0 auto;
    padding-top: 108px;
}
.pick-up {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.menu_photo {
    width: 30%;
    align-items: flex-start;
}
.menu_photo img {
    border-radius: 0 60px 0 0;
    width: 100%;
}
.menu_photo h2 {
    margin-left: 0;
    font-size: 38px;
    margin-top: -10px;
    padding-left: 3%;
    text-align: left;
    color: #d30202;
}
.text2 {
    padding-top: 24px;
    line-height: 1.4;
    width: 100%;
}
/* ギャラリーのスライダー */
.gallery {
    background: #e8d9bf;
}
.gallery-logo p {
    width: 245px;
    margin: 0 auto;
    padding-top: 100px;
}
.sp p {
    margin-top: 26px;
    background-color: gainsboro;
    width: 100%;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
/* EVENTのコンテンツ */
.Event {
    background: #e8d9bf;
}
.Event-logo h2 {
    width: 174px;
    margin: 0 auto;
    padding-top: 70px;
}
.topics {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    max-width: 1000px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 3.6px solid #4f260b;
    background-color: #fff;
}

.day_news {
    margin: 0 auto;
    padding-bottom: 20px;
}
.day_news li {
    padding-top: 20px;
    font-size: 24px;
}
.day_news li span {
    border-bottom: 2px solid #444;
    margin-left: 56px;
}
.day_news_sp {
    display: none;
}

/* Accessカテゴリー */
.Acces {
    background: #e8d9bf;
}
.acces-logo h2 {
    width: 214px;
    margin: 0 auto;
    padding-top: 78px;
}
.map iframe {
    width: 100%;
    height: 420px;
}
.map {
    width: 100%;
    padding-top: 48px;
}
/* トップページに戻る */
.page_top p {
    width: 125px;
    position: fixed;
    right: 2%;
    bottom: 4%;
}
/* フッターカテゴリー */
.footer-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 82px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}
.shop-logo h2 {
    width: 226px;
    margin-top: 0;
}
.access-adress ul {
    padding-left: 6%;
    width: 960px;
}
.access-adress li {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 25px;
    letter-spacing: 1px;
}
.footer-wrap {
    max-width: 1000px;
    align-items: flex-start;
}
.shop-logo h2 {
    max-width: 1000px;
    width: 224px;
    padding-top: 0;
}
.acces_adress li {
    max-width: 100%;
    padding-top: 6px;
    padding-left: 48px;
    padding-bottom: 20px;
}
.footer-write {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 78px;
    background: #fff;
}

/* 1024pxの時 */
@media screen and (max-width: 1024px) {
    /* スマホ版のメニュー */
    .header_nav {
        display: none;
    }
    .sp_menu_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 24px;
        height: 30px;
        cursor: pointer;
    }
    .sp_menu_btn span {
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 17px;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        display: block;
        background: #fff;
        position: absolute;
        transition: 0.3s;
    }
    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        transform: rotate(225deg);
        bottom: 0px;
    }
    .open span::after {
        transform: rotate(315deg);
        top: 0px;
    }
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav li {
        color: #fff;
        font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "sans-serif";
        text-align: center;
        font-size: 30px;
        padding: 20px 0;
    }
    .text {
        text-align: center;
    }
}
/* レスポンシブ_767px */
@media screen and (max-width: 767px) {
    .message h2 {
        font-size: 4.2vw;
        width: 100%;
        font-weight: lighter;
        padding-top: 42px;
    }
    .message h3 {
        font-size: 8.7vw;
        text-align: center;
        padding-top: 40px;
    }
    .message p {
        font-size: 4.2vw;
        font-weight: lighter;
        white-space: normal;
        padding-top: 24px;
    }
    .about_us {
        display: block;
        margin: 0 auto;
        padding-top: 66px;
    }
    .about_us_sp {
        display: block;
    }
    .title_logo {
        width: 180px;
        margin: 0 auto;
        padding-bottom: 18px;
    }
    .content_photo {
        display: none;
    }
    .main_photo {
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
    .content_photo {
        display: none;
    }
    .content img {
        display: none;
    }
    .content {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        padding-top: 36px;
    }
    .content h2 {
        font-size: 9vw;
        padding-top: 36px;
    }
    .content p {
        padding-top: 32px;
    }
    .br_sp {
        display: block;
    }
    .menu-logo p {
        width: 87px;
        margin: 0 auto;
        padding-top: 56px;
        padding-bottom: 23px;
    }
    .pick-up {
        display: block;
        margin: 0 auto;
        padding-top: 0;
    }
    .menu_photo {
        width: 90%;
        margin: 0 auto;
    }
    .text2 {
        text-align: left;
        padding-bottom: 60px;
        font-size: 17px;
        line-height: 1.5;
    }
    .pick-up br {
        display: none;
    }
    .gallery-logo p {
        width: 142px;
        margin: 0 auto;
    }
    .Event-logo h2 {
        width: 100px;
        padding-bottom: 20px;
    }
    .topics {
        margin-top: 0;
    }
    .day_news {
        display: none;
    }
    .day_news_sp {
        display: block;
    }
    .day_news_sp li {
        text-align: left;
        padding: 5px;
    }
    .map {
        margin-top: -40px;
    }
    .footer-wrap {
        display: block;
    }
    .shop-logo h2 {
        padding-top: 50px;
        padding-bottom: 36px;
        padding-left: 5%;
    }
    .acces-logo h2 {
        width: 142px;
    }
    .acces_adress li {
        padding-left: 5%;
    }
    .page_top P {
        width: 20%;
        position: fixed;
        right: 2%;
        bottom: 4%;
    }
}
